PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/ngl-tournament
JWT_SECRET=ngl-tournament-platform-secret-2026
NODE_ENV=development

JWT_EXPIRES_IN=7d

EMAIL_USER=infotechevolvix@gmail.com
EMAIL_PASS=qirp kfif iyut sirt
EMAIL_FROM=infotechevolvix@gmail.com
EMAIL_TO=infotechevolvix@gmail.com

CLOUDINARY_CLOUD_NAME=dhk4imkbk
CLOUDINARY_API_KEY=391498568937736
CLOUDINARY_API_SECRET=M9Llot-81J4bLDYdJe2-x8VJAOI